.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App {
  text-align: left;
  background-color:blue;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #000398;
	border-radius: 8px;
	width: 75%;
	margin: auto;
	margin-top: 190px;
	padding-top: 5px;
	position: relative;
}
.App-link {
  color: #90damb;
}
@keyframes App-logo-spin {
  from {transform: rotate(0deg);
  }
  to 
    transform: rotate(360deg);
  }
}
